:root {
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  transition: color 2ms;
  color: aliceblue;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(25, 25, 25);
  height: 200vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.38);
  height: 150px;
}

.header-title {
  color: aliceblue;
  font-family: monospace;
  font-size: 40pt;
  text-shadow: 5px 3px 1px rgba(0, 0, 0, 0.28);
  transition: all 0.5s;
}

.header-title:hover {
  font-size: 41pt;
}

article {
  height: max-content;
  width: 86%;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 7%;
  margin-right: 7%;
}

.article-title {
  margin-bottom: 1%;
  color: aliceblue;
  font-family: monospace;
  font-size: 30pt;
  text-align: center;
}

.aritcle-paragraph {
  color: aliceblue;
  font-family: monospace;
  font-size: 17pt;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.article-container {
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-items: center;
  align-items: center;
  row-gap: 45px;
  background-color: rgb(23, 23, 23);
  border: 1px solid #00000038;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.asset-container {
  background-color: rgb(21, 21, 21);
  border: 1px solid #00000038;
  border-radius: 3px;
  width: 90%;
  aspect-ratio: 1;
  transition: transform 0.2s, border 0.3s;
}

.asset-container:hover {
  transform: translateY(-7px);
  border: 1px solid #0000009c;
}

footer {
  background-color: rgb(22, 22, 22);
  width: 100%;
  height: 100px;
  margin-top: auto;
  margin-bottom: 0;
  position: relative;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #252525;
  border: 1px solid #00000048;
  color: #ffffffd0;
  font-family: monospace;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
